modules = ["nodejs-20", "python-3.12", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 41051030
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd SocialNexus && npm run dev"
